# Android Studio
*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# VSCode
.vscode

# MacOS
.DS_Store

# Build artifacts
/build
/captures
.externalNativeBuild
.cxx
.kotlintest